<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<body>
  <button onclick="getalldata(1)">1d</button>
  <button onclick="getalldata(7)">1w</button>
  <button onclick="getalldata(30)">1m</button>
  <button onclick="getalldata(365)">1y</button>
  <div id="chart"></div>
  <!-- <a href="/get_data">getdata</a> -->
</body>

<script>
  function getformatedTime(time) {
    time = new Date(time)
    var date = `${time.getFullYear()}/${(time.getMonth()+1)}/${time.getDate()}`;
    var time = time.getHours() + ":" + time.getMinutes() + ":" + time.getSeconds();
    var dateTime = date+' '+time;
    return dateTime;
  }
  async function getData(date) {
    await axios.post('/get_data', {
      days: date,
    })
    .then((response) => {
      resolve_arr = response.data;
    }, (error) => {
      console.log(error);
    });
  }
  let resolve_arr = [];
  async function getalldata(days){
    let date_arr = [];
    let price_arr = [];
    await getData(Number(days));
    console.log(resolve_arr);
    resolve_arr = resolve_arr.prices;
    console.log(resolve_arr);
    for(let i = 0; i < resolve_arr.length; i += parseInt(resolve_arr.length/30)) {
      date_arr.push(getformatedTime(resolve_arr[i][0]));
      price_arr.push(resolve_arr[i][1])
    }
    var options = {
      chart: {
			type: 'area',
      height: 500, 
		},
      series: [{
        name: 'anji/bnb',
        data: price_arr
      }],
      stroke: {
        curve: 'smooth'
      },
      dataLabels: {
        enabled: false
      },
      tooltip: {
        x: {
          format: 'dd/MM/yy HH:mm'
        },
      },
      xaxis: {
        categories: date_arr
      }
    }

    var chart = new ApexCharts(document.querySelector("#chart"), options);

    chart.render();
  }
  
</script>